@using HalloDoc_DAL.Models;
@model HalloDoc_DAL.AdminViewModels.AdminAssignCase;

<form mthod="post" id="TransferCaseForm" asp-action="PostTransferCase" asp-controller="Admindashboard" asp-route-requestId="@Model.RequestId">
    <div class="modal fade" id="TransferCaseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="CancleCaseContent">
                <div class="modal-header bg-info">
                    <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Transfer Request</h1>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"  aria-label="Close"></button>
                </div>
                <div class="modal-body container-fluid ">

                    <p>To transfer this request search and select another physician</p>


                    <div class="row  justify-content-center" style="column-gap:1rem;">

                        <div class="col-12">
                            <div class="form-floating mb-3">

                                <select id="sl" asp-for="SelectedRegionName" class="form-select" aria-label="Default select example" style="height:3rem;padding:13px;" onchange="GetPhysicianByRegions()">
                                    <option selected="">Narrow Search By Regions</option>
                                    @foreach (Region region in Model.Regions)
                                    {
                                        <option value="@region.Regionid">@region.Name</option>
                                    }

                                </select>

                                <span asp-validation-for="SelectedRegionName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">

                                <select id="PhysicianInp" asp-for="SelectedPhycisianId" class="form-select" aria-label="Default select example" style="height:3rem;padding:13px;">
                                    <option selected="">Physicians</option>
                                    @foreach (Physician physician in Model.Physicians)
                                    {
                                        <option value="@physician.Physicianid">@physician.Firstname @physician.Lastname</option>
                                    }

                                </select>
                                <span asp-validation-for="SelectedPhycisianId" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <textarea asp-for="Description" class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Provide Additional Notes</label>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info  text-white darkInfo-btn">Submit</button>

                    <button type="button" class="btn btn-outline-info lightInfo-btn"
                            onclick=" document.getElementById('TransferCaseForm').reset();">
                        Cancle
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>

  

   


</script>