@model HalloDoc_DAL.AdminViewModels.Providers;
@using HalloDoc_DAL.AdminViewModels;




@{
    Layout = "_Layout";
}

<partial name="_DashNavbar" />


<partial name="_Dashtabs" />

<div class="container-fluid mt-3">
    <div class="row justify-content-center">


        <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 justify-content-between">
            <h3>Provider Information</h3>
            <button class="btn btn-outline-info text-info lightInfo-btn" onclick="changeTab()">
                <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
            </button>
        </div>


        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 mt-3 ProviderMenuHeader">


            <div class="row  justify-content-lg-between justify-content-sm-center  justify-content-center p-sm-3 p-3" style="row-gap:1rem;align-items: center;background:var(--pi-form-back-color);border-radius:10px 10px 0px 0px;">

                <div class="form-floating col-lg-4 col-sm-10">

                    <div class="form-floating">

                        <select class="form-select form-control" id="ProviderRegionSelector" aria-label="Floating label select example" style="background-color:var(--pi-back-color);" onchange="GetProvidersByRegion('1',false)">
                            <option value="0">All Region</option>

                            @foreach (Region region in Model.regions)
                            {
                                <option value="@region.Regionid">@region.Name</option>
                            }
                        </select>
                        <label for="ProviderRegionSelector">Regions</label>
                    </div>
                   
                   


                </div>

                <div class="col-lg-3 col-md-4 col-sm-12 d-sm-flex justify-content-sm-center d-flex justify-content-center ">
                    <a asp-action="CreateProviderAccountView"  asp-controller="Provider"  class="btn btn-info  text-white darkInfo-btn ">Create Provider Account</a>
                </div>

            </div>






        </div>

    </div>

 
    <div class="row"  style="justify-content:center">
        <div id="ProviderTableContainer" class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 justify-content-between ">

            @*<partial name="_ProviderTable"/>*@

              
        </div>


        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 d-flex justify-content-end mt-3">
            <button id="ProviderChangeSaveBtn" type="button" class="btn btn-info  text-white darkInfo-btn " style="display:none;" onclick="SaveProviderChanges('ProviderForm')">Save</button>
        </div>
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 d-flex justify-content-end mt-3">
            <button id="mb-ProviderChangeSaveBtn" type="button" class="btn btn-info  text-white darkInfo-btn " style="display:none;" onclick="SaveProviderChanges('mb-ProviderForm')">Save</button>
        </div>

    

    </div>
      
</div>



<script>

    $(document).ready(function () {

        handleNavChange('provider-menu-tab')
        GetProvidersByRegion('1',false);

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
    })




    const SaveProviderChanges = (formId) =>{

        $(`#${formId}`).submit();
    }


    

</script>