@using HalloDoc_DAL.ViewModels;
@model HalloDoc_DAL.ViewModels.Documents;
@{
    Layout = "_Layout";
}



<partial name="_DashNavbar" />



@if (ViewData["RoleName"] == "Phy")
{
    <partial name="_ProviderDashTabs" />

}
else if (ViewData["RoleName"] == "Adm")
{
    <partial name="_Dashtabs" />

}

<div class="container-fluid mt-3 ">
    <div class="row justify-content-center">
        <div class="d-flex col-8 justify-content-end  mb-3 mt-2">
            @if (ViewData["RoleName"] == "Phy")
            {
                <a class="btn btn-outline-info text-info lightInfo-btn" asp-action="Dashboard" asp-controller="ProviderDashboard">
                    <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
                </a>

            }
            else if (ViewData["RoleName"] == "Adm")
            {
                <a class="btn btn-outline-info text-info lightInfo-btn" asp-action="Dashboard" asp-controller="Admindashboard">
                    <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
                </a>

            }
        </div>
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 ">


            <div class="container-fluid  formContainer mb-5">


                <!-- File Upload Input Group -->

                <div class="row">

                    <div class="col-12 d-flex justify-content-start flex-column p-4">

                        <p>Patient Name</p>

                        <div class="d-flex align-items-center">

                            <h3 class="text-info ">@Model.PatientName</h3>
                            <h6 class="mx-2">@(Model.ConfirmationNumber != null ? (Model.ConfirmationNumber) : "(MD229980)")</h6>
                        </div>

                        <p>Check here for any files that you or the doctors of your subsequents requestors have attached for you to review. </p>

                    </div>


                    @*<h4 class="mb-3">(Optional) Upload Photo Or Document</h4>*@



                    <form id="DocForm" asp-action="UploadDocuments" asp-controller="Admindashboard" asp-route-id="@Model.requestId" method="post" enctype="multipart/form-data">

                        <div class="col-12 ">
                            <div class="input-group mb-3">


                                <input type="file" asp-for="FormFile" class="form-control" id="inputGroupFile02" onchange="uploadFile()" multiple>

                                <label class="input-group-text bg-info text-white" for="inputGroupFile02">
                                    <i class='bi bi-cloud-upload text-white mx-1'></i>Upload
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Submit Buttons  -->

                <div class="row  p-3">
                    <div class="col-6">

                        <h4>Documents</h4>
                    </div>
                    <div class=" d-flex col-6 justify-content-end " style="column-gap:1rem;">
                        <button type="button"
                                class="btn btn-outline-info text-info lightInfo-btn" onclick="downloadChekedFiles()">
                            <i class="bi bi-box-arrow-down show-icon"></i> <span class="text-vanish"> Download All</span>
                        </button>
                        <form id="DeleteAllForm" asp-action="DeleteAllFiles" asp-controller="Admindashboard" asp-route-id="@Model.requestId">
                            <input hidden name="deleteIds" id="DataArray" value="" />
                            <button type="button"
                                    class="btn btn-outline-info text-info lightInfo-btn" onclick="DeleteAllFiles()">
                                <i class="bi bi-trash-fill show-icon"></i> <span class="text-vanish"> Delete All</span>
                            </button>
                        </form>
                        <form id="SendMailForm" asp-action="SendDocumentViaMail" asp-controller="Admindashboard" asp-route-id="@Model.requestId">

                            <input hidden name="DocFiles" id="FilesArray" value="" />

                            <button type="button"
                                    class="btn btn-outline-info text-info lightInfo-btn" onclick="SendFilesViaEmail()">
                                <i class="bi bi-envelope show-icon"></i> <span class="text-vanish">Send Mail</span>
                            </button>
                        </form>
                    </div>

                </div>

                <div class="container-fluid">

                     <table id="pc-ViewUploadTable" class="table " style="color:var(--pi-label-color);">
                        <thead class="table-secondary">
                            <tr>
                                <th scope="col"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" onchange="checkAll('fileCheckBox',event.target)"></th>
                                <th>Name</th>
                                <th scope="col">Upload Date <span>&uarr;</span></th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ViewDocument doc in Model.ViewDocuments)
                            {

                                <tr>
                                    <th scope="row"><input class="form-check-input fileCheckBox" type="checkbox" value="" id="@doc.filename.Replace(" ","")"></th>
                                    <td class="@doc.filename.Replace(" ","")" id="@doc.FileId">@doc.filename</td>
                                    <td>@doc.uploadDate</td>
                                    <td class="d-flex" style="column-gap:10px;">
                                        <a class="nav-link lg-@doc.filename.Replace(" ","")" href="~/Upload/@doc.filename" download style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                            <i id='themeIcon' class="bi bi-cloud-upload text-info"></i>
                                        </a>
                                        <form method="post" asp-action="DeleteFileById" asp-controller="Admindashboard" asp-route-id="@doc.FileId">
                                            <button type="submit" class="btn @doc.filename.Replace(" ","")" style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                                <i id='themeIcon' class="bi bi-trash text-info"></i>
                                            </button>
                                        </form>

                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>

       @* <-----------------------------  Mobile Scrren --------------------------------->*@


                    <ul id="mb-ViewUploadTable" class="list-group">
                        @foreach (ViewDocument doc in Model.ViewDocuments)
                        {
                            <div style="display:none;" class="@doc.filename.Replace(" ","")" id="@doc.FileId">@doc.filename</div>

                            <li class="list-group-item" style="background-color:var(--pi-back-color);color:var(--pi-label-color);">
                                <div class="container-fluid" style="row-gap:1rem;">
                                    <div class="row mb-3">

                                        <div class="col-2">
                                            <input class="form-check-input mb-fileCheckBox" type="checkbox" value="" id="@doc.filename.Replace(" ","")">
                                        </div>
                                        <div id="Docfiles" class="col-8 @doc.filename.Replace(" ","") DocuFiles" style="padding:0rem;">

                                            @doc.filename

                                        </div>
                                    </div>
                                    <div class="row mb-3">

                                        <div class="col-12">
                                            @doc.uploadDate.ToString("MMM dd, yyyy")
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-2">

                                            <a class="nav-link @doc.filename.Replace(" ","")" href="~/Upload/@doc.filename" download style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                                <i id='themeIcon' class="bi bi-cloud-upload text-info"></i>
                                            </a>

                                        </div>

                                        <div class="col-2">

                                            <form method="post" asp-action="DeleteFileById" asp-controller="Admindashboard" asp-route-id="@doc.FileId">
                                                <button type="submit" class="btn @doc.filename.Replace(" ","")" style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                                    <i id='themeIcon' class="bi bi-trash text-info"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        }
                    </ul>

                </div>

            </div>

        </div>

    </div>
</div>





@*<footer class="patientSubmitFooter" style="position:absolute;">
    <span>Terms and Conditions</span>
    <span>|</span>
    <span>Privacy Policy</span>
</footer>
*@



<script>

    $(document).ready(function () {

        let prevId = localStorage.getItem("ActiveLink")

        let currEle = document.getElementById(prevId)

        currEle.classList.add("active");


        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
    })

    const SendFilesViaEmail = () => {



        var files = [];

        var filenames = $(".DocuFiles");

        //console.log(filenames,"io")

        for (let i = 0; i < filenames.length; i++) {

            let filename = filenames[i].textContent

            files.push(filename)

        }


        let mail = "yashusoni003@gmail.com";

        var dataobject = {
            fileArray: files,
            UserMail: mail
        }

        console.log(dataobject)

        var serielizedData = JSON.stringify(dataobject)

        //console.log(serielizedData)

        $("#FilesArray").val(serielizedData);

        $("#SendMailForm").submit();


    }

    const DeleteAllFiles = () => {
        var chkecks;

        if(window.innerWidth>=600){

         chkecks = $(".fileCheckBox")
        }else{
            chkecks = $(".mb-fileCheckBox")
        }

        var DeleteFileIdArray = [];

        for (let i = 0; i < chkecks.length; i++) {

            if (chkecks[i].checked) {

                let ide = chkecks[i].id;

                let deleteId = document.getElementsByClassName(`${ide}`)[0].id;
                console.log(deleteId,"ii")

                DeleteFileIdArray.push(deleteId);



            }

        }
        console.log(DeleteFileIdArray)
        var serielizedData = JSON.stringify(DeleteFileIdArray)

        $("#DataArray").val(serielizedData);

        console.log($("#DataArray").val())

        $("#DeleteAllForm").submit();

    }

    const uploadFile = () => {
        $("#DocForm").submit();
    }

 

    const downloadChekedFiles = () => {

        var chkecks = $(".fileCheckBox")
        console.log(chkecks,"oo")

        for (let i = 0; i < chkecks.length; i++) {

            if (chkecks[i].checked) {

                let ide = chkecks[i].id;
                console.log(ide)
               document.getElementsByClassName(`lg-${ide}`)[0].click()

            }

        }

    }



    const DeletFile = (id) => {


        $.ajax({
            method: "post",
            url: "/Admindashboard/DeleteFileById",
            data: { id: id },
            success: function (response) {

                console.log(response)
            },
            error: function (err) {
                console.log(err)
            }
        })
    }

    $('.reg-nav').remove();
    $('.modal').remove();

</script>
