


@using HalloDoc_DAL.AdminViewModels;
@model HalloDoc_DAL.AdminViewModels.NotesView;


@{
    Layout = "_Layout";
}


<partial name="_DashNavbar" />


<partial name="_Dashtabs" />


<div class="container-fluid mt-3">
    <div class="row justify-content-center">


        <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 mb-3 justify-content-between">
            <h2>Notes</h2>
            <a class="btn btn-outline-info text-info lightInfo-btn" asp-action="Dashboard">
                <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
            </a>
        </div>


        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 ">


            <form asp-controller="Admindashboard" asp-action="SaveNotesChanges" method="post" asp-route-id="@Model.requestId">


                <div class="container-fluid formContainer mb-5">
                    <div class="row">
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="container-fluid mb-3">
                                <div class="row mt-5 NotesContainer " style="align-items: center;padding: 1rem;background:var(--accordian-btn-color)">
                                         
                                       <div class="col-2">
                                        <i class="bi bi-arrow-left-right fs-3" style="color:var(--Notes-icon-color)"></i>
                                       </div>
                                    <div class="col-10" style="max-height: 70px;overflow-y:scroll;">

                                            <h6>Transfer Notes</h6>

                                        @if (Model.requestnotes != null && Model.requestnotes?.TranferNotes.Count != 0)
                                        {
                                            int i = 1;
                                            foreach(TransferNotes req in Model.requestnotes.TranferNotes)
                                            {
                                              
                                                <p>@i) Admin transfered to @req.PhysicinName on @req.TransferedDate.ToString("dd MMM,yyyy"):@req.Description </p>
                                                i++; 
                                            }
                                        }
                                        else
                                        {
                                        <p>Not Available</p>
                                            
                                        }

                                       </div>

                                   </div>                               
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="container-fluid mb-3">
                                <div class="row mt-5 NotesContainer" style="align-items: center;padding: 1rem;background:var(--accordian-btn-color)">

                                    <div class="col-2">
                                        <i class="bi bi-person fs-3" style="color:var(--Notes-icon-color)"></i>
                                    </div>
                                    <div class="col-10">

                                        <h6>Admin Notes</h6>
                                        <p>@(Model.requestnotes?.AdminNotes != null ? Model.requestnotes.AdminNotes : "Not Available")</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="container-fluid mb-3">
                                <div class="row mt-5 NotesContainer" style="align-items: center;padding: 1rem;background:var(--accordian-btn-color)">

                                    <div class="col-2">
                                        <i class="bi bi-person  fs-3" style="color:var(--Notes-icon-color)"></i>
                                    </div>
                                    <div class="col-10">

                                        <h6>Physician Notes</h6>
                                        <p>@(Model.requestnotes?.PhysicianNotes != null ? Model.requestnotes.PhysicianNotes : "Not Available")</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <div class="form-floating mb-3 ">
                                <textarea asp-for="AdditionalNotes" rows="10" id="floatingInput"  class="form-control" style="height:140px;"> </textarea>
                                <label for="floatingInput">Additional Notes</label>
                                <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row justify-content-end p-3">
                        <div class="d-flex col-4 justify-content-end" style="column-gap: 1rem;">
                            <button type="submit" class="btn btn-info  text-white darkInfo-btn" onclick="()">Save Changes</button>
                        </div>
                    </div>
               </div>
            </form>
            
        </div>
        </div>
        </div>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



<script>




    $(document).ready(function () {


        let prevId = localStorage.getItem("ActiveLink")

        let currEle = document.getElementById(prevId)

        currEle.classList.add("active");



        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }

    })




</script>