@model HalloDoc_DAL.ProviderViewModels.RequestShiftTable


@{

    string[] status = { "Active", "Pending", "deactive" };
    <form id="RequestShiftTableForm" asp-action="ApproveShiftAction" asp-controller="Provider" method="post">


        <input type="number" hidden name="Val" id="ApproveInp" style="display:none;" />
        


        <table class="table ReqtableContainer table-responsive">
            <thead>
                <tr style="background-color:#f1f1f1;">
                    <th class="reqtableHeader" scope="col"><input class="form-check-input" type="checkbox" onclick="checkAll('shiftCheckBox',event.target)"></th>
                    <th class="reqtableHeader" scope="col">Staff <span>&uarr;</span></th>
                    <th class="reqtableHeader" scope="col">Day</th>
                    <th class="reqtableHeader" scope="col">Time</th>
                    <th class="reqtableHeader" scope="col">Region</th>
                    
                </tr>
            </thead>
            <tbody style="color: var(--pi-label-color);background: var(--pi-form-back-color);">

                @for(int i = 0; i < Model.requestedShiftDetails.Count; i++)
                {
                    <tr>

                        <input  asp-for="@Model.requestedShiftDetails[i].ShiftDetailId" style="display:none;" hidden />
                        <th><input asp-for="@Model.requestedShiftDetails[i].IsSelected" class="form-check-input shiftCheckBox"  type="checkbox" onchange="console.log(event.target)"> </th>
                        <th>@Model.requestedShiftDetails[i].PhysicianName</th>
                        <th>@Model.requestedShiftDetails[i].Day.ToString("MMM d,yyyy")</th>
                        <th>@Model.requestedShiftDetails[i].StartTime.ToString("h:mm tt") - @Model.requestedShiftDetails[i].EndTime.ToString("h:mm tt")</th>
                        <th>@Model.requestedShiftDetails[i].Region</th>
                    </tr>
                }

            </tbody>

        </table>
        </form>
        <form id="mb-RequestShiftTableForm" asp-action="ApproveShiftAction" asp-controller="Provider" method="post">

        <input type="number" hidden name="Val" id="mb-ApproveInp" style="display:none;" />

        <ul id="mb-ViewUploadTable" style="border-radius:0px 0px 10px 10px;" class="list-group">
            @for (int i = 0; i < Model.requestedShiftDetails.Count; i++)

            {

                <li class="list-group-item" style="background-color:var(--pi-form-back-color);color:var(--pi-label-color);">
                    <div class="container-fluid" style="row-gap:1rem;">
                        <div class="row mb-3">

                            <div class="col-2">
                                <input asp-for="@Model.requestedShiftDetails[i].IsSelected" class="form-check-input shiftCheckBox" type="checkbox">
                            </div>
                            <div  class="col-8" style="padding:0rem;">

                                @Model.requestedShiftDetails[i].PhysicianName

                            </div>
                        </div>
                        <div class="row mb-3">

                            <div class="col-12">
                                @Model.requestedShiftDetails[i].Day.ToString("MMM d,yyyy")
                            </div>

                        </div> 
                        <div class="row mb-3">

                            <div class="col-12">
                                @Model.requestedShiftDetails[i].StartTime.ToString("h:mm tt") - @Model.requestedShiftDetails[i].EndTime.ToString("h:mm tt")
                            </div>

                        </div>
                        <div class="row mb-3">

                            <div class="col-12">
                                @Model.requestedShiftDetails[i].Region
                            </div>

                        </div>
                       

                    </div>
                </li>
             
            }
        </ul>




    </form>



    <div class="row p-3">
        <nav aria-label="Page navigation example mt-3">
            <ul class="pagination justify-content-end PageNumbers" style="column-gap:1rem;">
                <li class="page-item" onclick="GetRequestedShiftTableView(@Model.regionId,@Model.currentPage-1,true,@Model.TotalPages)" style="cursor:pointer"><i class="bi bi-chevron-left"></i></li>
                <li class="page-item text-white" style="padding-left: 1rem;padding-right: 1rem;background-color:#0dcaf0;cursor:pointer;">@Model.currentPage</li>
                <li class="page-item" onclick="GetRequestedShiftTableView(@Model.regionId,@Model.currentPage+1,true,@Model.TotalPages)" style="cursor:pointer;"><i class="bi bi-chevron-right"></i></li>
            </ul>
        </nav>
    </div>

}


<script>

    //$("document").ready(function () {

    //    DisPlayPagination();

    //})


 


     


</script>