@model HalloDoc_DAL.ProviderViewModels.CreateAdminAccountModel;

@{
    Layout = "_Layout";
}



@{
    string[] statusArray = { "Active", "Dactive" };
}

<partial name="_DashNavbar" />
<partial name="_Dashtabs" />
<partial name="_RegionModal" />


<div class="container-fluid mt-3 ">
    <div class="row justify-content-center">
        <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 justify-content-between  mb-3 mt-2">
            <h3>Create Admin Account</h3>
            <a class="nav-link" asp-controller="Admindashboard" asp-action="Dashboard">
                <button class="btn btn-outline-info text-info lightInfo-btn" type="button">
                    <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
                </button>
            </a>
        </div>
        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 ">
            <form method="post" asp-action="PostCreateAdminAccount" asp-controller="Provider">

                <div class="container-fluid  formContainer " style="padding:1rem;">


                    <!-- Family/Frineds Information Input Group -->


                    <div class="row">
                        <h4 class="mb-3 mt-3">Account Information</h4>
                        <div class="col-xl-4 col-sm-4 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="UserName" type="text" class="form-control tbDisabled" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Username</label>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-4 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Password" type="text" class="form-control" id="AdminPassInp"
                                       placeholder="name@example.com">
                                <label for="AdminPassInp">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-4 col-12">
                            <div class="form-floating mb-3">
                                <select asp-for="Role" class="form-select tbDisabled form-control" aria-label="Default select example">
                                    @foreach (Role role in Model.roles)
                                    {
                                        <option value="@role.Roleid">@role.Name</option>
                                    }
                                </select>
                                <label for="floatingInput">Role</label>
                                <span asp-validation-for="Role" class="text-danger"></span>

                            </div>
                        </div>

                    </div>

                    <!-- Patient Information Input Group -->

                    <div class="row mt-3">
                        <h4 class="mt-3 mb-3">Administrator Information</h4>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="FirstName" class="form-control tbDisabled" placeholder="Leave a comment here"
                                       id="floatingTextarea2"></input>
                                <label for="floatingTextarea2">Firstname</label>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="LastName" type="text" class="form-control tbDisabled" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Last Name</label>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="text" class="form-control tbDisabled" id="floatingInput"
                                       placeholder="name@example.com" onblur="checkEmailAvailibility(event.target)">
                                <label for="floatingInput">Email</label>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="ConfirmEmail" type="text" class="form-control tbDisabled" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">ConfirmEmail</label>
                                <span asp-validation-for="ConfirmEmail" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3 phoneInputDiv">
                                <input asp-for="Phone" style='height: 57px;' type="tel" id='phonInput' class="form-control tbDisabled"
                                       id="floatingInput">
                                <label for="floatingInput"></label>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="RegionChekboxdiv" class="col-xl-6 col-sm-6 col-12">
                            @for (int i = 0; i < Model.SelectedRegions?.Count; i++)
                            {

                                <div class="form-check">
                                    <input asp-for="@Model.SelectedRegions[i].IsSelected" class="form-check-input tbDisabled1" type="checkbox" id="flexCheckDefault">
                                    <input hidden asp-for="@Model.SelectedRegions[i].regionId" style="display:none" />
                                    <label class="form-check-label" for="flexCheckDefault">
                                        @Model.SelectedRegions[i].regionName
                                    </label>
                                </div>
                            }
                        </div>

                    </div>


                    <!-- Patient Contact Information Input Group -->


                    <div class="row mt-5">
                        <h4 class="mb-3">Mailing & Billing Information</h4>

                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Address1" type="text" class="form-control emailInp tbDisabled1" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Address1</label>
                                <span asp-validation-for="Address1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Address2" type="text" class="form-control emailInp tbDisabled1" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Address2</label>
                                @* <span asp-validation-for="PatientInfo.Email" class="text-danger"></span> *@
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="City" type="text" class="form-control tbDisabled1" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">City</label>
                                <span asp-validation-for="City" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <select asp-for="StateId" class="form-select tbDisabled1 form-control" aria-label="Default select example">


                                    @foreach (Region region in Model.Regions)
                                    {
                                        <option value="@region.Regionid">@region.Name</option>
                                    }

                                </select>
                                <label for="floatingInput">Region</label>

                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3">
                                <input asp-for="Zip" type="number" class="form-control tbDisabled1" id="floatingInput"
                                       placeholder="name@example.com">
                                <label for="floatingInput">Zip Code</label>
                                <span asp-validation-for="Zip" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-xl-6 col-sm-6 col-12">
                            <div class="form-floating mb-3 phoneInputDiv">
                                <input asp-for="AltPhone" style='height: 57px;' type="tel" id='phonInput' class="form-control tbDisabled1"
                                       id="floatingInput">
                                <label for="floatingInput"></label>
                                @*<span asp-validation-for="PatientInfo.Phonenumber" class="text-danger"></span> *@
                            </div>
                        </div>


                    </div>


                    <div class="row justify-content-end p-3">
                        <div class="d-flex col-3 justify-content-end" style="column-gap: 1rem;">
                            <button type="submit" class="btn btn-success  text-white darkInfo-btn">Create Account</button>

                        </div>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>


@section Scripts {

    @{

        <partial name="_ValidationScriptsPartial" />
    }
}
<script>


    $(document).ready(function () {

        handleNavChange('pills-Access-tab')
        toastr.remove();

        if ('@TempData["ShowPositiveNotification"]' != '') {
            toastr.success('@TempData["ShowPositiveNotification"]');
        } else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
    })
</script>