@model HalloDoc_DAL.ProviderViewModels.CreateRole;

@{
    Layout = "_Layout";
}



<partial name="_DashNavbar" />


<partial name="_Dashtabs" />

@{

    string[] accountTypes = { "Admin", "Physician","Patient" };

    <div class="container-fluid mt-3 ">
        <div class="row justify-content-center">
            <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 justify-content-between mb-3 mt-2">
                <h2>Create Role</h2>
                <a class="nav-link" asp-controller="Admindashboard" asp-action="Dashboard">
                    <button class="btn btn-outline-info text-info lightInfo-btn" type="button">
                        <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
                    </button>
                </a>
            </div>
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 ">


                <form asp-action="PostCreateRole" asp-controller="Provider" method="post">
                    <div class="container-fluid  formContainer mb-5 p-4">


                        <div class="row mt-3">
                            <div class="col-xl-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">

                                    <input asp-for="RoleName" type="text" class="form-control" id="floatingInput"
                                           placeholder="name@example.com">
                                    <label for="floatingInput">Role Name</label>
                                    <span class="text-danger"></span>


                                </div>
                            </div>
                            <div class="col-xl-6 col-sm-6 col-12">
                                <div class="form-floating mb-3">
                                    <select asp-for="AccountType" class="form-select form-control" id="floatingSelect" aria-label="Floating label select example" onclick="GetAccessAreas(event.target)">
                                        @for (int i = 1; i < accountTypes.Length + 1; i++)
                                        {
                                            <option value="@i">@accountTypes[i-1]</option>

                                        }
                                    </select>
                                    <label for="floatingInput">Account Type</label>
                                    <span class="text-danger"></span>

                                </div>
                            </div>
                        </div>


                        <div class="row mt-3">

                            <div id="RoleTypeContainer" class="col-12">
                            </div>

                        </div>

                        <!-- Submit Buttons  -->

                        <div class="row justify-content-end p-3">
                            <div class="d-flex col-3 justify-content-end" style="column-gap: 1rem;">
                                <button type="submit" class="btn btn-info  text-white darkInfo-btn">Save</button>
                                <button type="button"
                                        class="btn btn-outline-info text-info lightInfo-btn" onclick="(() => document.getElementById('OrderForm').reset())()">
                                    Cancel
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
}
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>

    $(document).ready(function () {


        let prevId = localStorage.getItem("ActiveLink")

        let currEle = document.getElementById(prevId)

        currEle.classList.add("active");

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }

    })


    const GetAccessAreas = (target) => {

        let AccountType = target.value;


        $.ajax({
            method: "post",
            url: "/Provider/GetAccessArea",
            data: { AccountType: AccountType },
            success: function (response) {

                if (response.code == 401) {

                    location.reload();
                } else {

                    $("#RoleTypeContainer").html(response);


                }

            },
            error: function (err) {
                console.log(err)
            }
        })
    }



</script>
