@model HalloDoc_DAL.ProviderViewModels.ConcludeCare;
@using HalloDoc_DAL.ViewModels;

@{
    Layout = "_Layout";
}

<partial name="_DashNavbar" />

<partial name="_ProviderDashTabs" />



<div class="container-fluid mt-3">
    <div class="row justify-content-center">


        <div class="d-flex col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12 justify-content-between">
            <h3>Conclude Care</h3>
            <a asp-action="Dashboard" asp-controller="ProviderDashboard" class="btn btn-outline-info text-info lightInfo-btn">
                <i class="bi bi-chevron-left text-info lightInfo-btn "></i>Back
            </a>
        </div>


        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 mt-3 ProviderMenuHeader">


            <div class="row  p-sm-3 p-3" style="row-gap:1rem;align-items: center;background:var(--pi-form-back-color);border-radius:10px 10px 0px 0px;">

               
                <div class="col-12 d-flex justify-content-start flex-column p-4">

                    <p>Patient Name</p>

                    <div class="d-flex align-items-center">

                        <h3 class="text-info ">@Model.PatientName</h3>
                        
                    </div>             

                </div>


                <div class="col-12 justify-content-between d-flex">

                    <h5 style="width:14rem;">Encounter Form</h5>
                    <form id="ProviderDocForm" asp-action="UploadDocuments" asp-controller="ProviderDashboard" asp-route-id="@Model.RequestId" method="post" enctype="multipart/form-data">

                    <div class="input-group mb-3 d-flex" style="justify-content:end;">


                            <input asp-for="FormFiles" type="file" class="form-control" id="inputGroupFile02" multiple style="display:none;" onchange="$('#ProviderDocForm').submit()">
                            @*<button  type="submit">ef</button>*@
                        <label class="input-group-text  btn-outline-info text-info lightInfo-btn" for="inputGroupFile02" style="border-radius:9px;background-color:transparent;border:1px solid #0dcaf2;">
                            <i class='bi bi-cloud-upload text-info mx-1'></i>Upload
                        </label>
                    </div>
                    </form>

                </div>


            </div>






        </div>

    </div>


    <div class="row" style="justify-content:center;">
        <div id="UserAccessTableContainer" class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11 justify-content-between p-0 " style="border-radius: 0px 0px 0px 0px;background-color:var(--pi-form-back-color);box-shadow: rgb(0 0 0 / 15%) 0px 0px 3px 0px;">

            <table class="table ReqtableContainer table-responsive">
                <thead>
                    <tr class="" style="background-color:#f1f1f1;">
                        <th class="reqtableHeader text-start align-middle" scope="col">Documents </th>
                        <th class="reqtableHeader text-end align-middle" scope="col">Action </th>
                        
                    </tr>
                </thead>
                <tbody style="color: var(--pi-label-color);background: var(--pi-form-back-color);">

                        @foreach (ViewDocument doc in Model.documents)
                        {

                            <tr>
                               
                                <td class="@doc.filename.Replace(" ","")  text-start" id="@doc.FileId">@doc.filename</td>
                                
                                <td class="d-flex text-end" style="justify-content:flex-end;">
                                    <a class="nav-link @doc.filename.Replace(" ","")" href="~/Upload/@doc.filename" download style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                        <i id='themeIcon' class="bi bi-cloud-upload text-info"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                </tbody>

            </table>

            <ul id="mb-ViewUploadTable" class="list-group">
                @foreach (ViewDocument doc in Model.documents)
                {

                    <li class="list-group-item" style="background-color:var(--pi-back-color);color:var(--pi-label-color);">
                        <div class="container-fluid" style="row-gap:1rem;">
                            <div class="row mb-3">

                                
                                <div id="Docfiles" class="col-8 @doc.filename.Replace(" ","") DocuFiles" style="padding:0rem;">

                                    @doc.filename

                                </div>
                            </div>
                          

                            <div class="row">
                                <div class="col-2">

                                    <a class="nav-link @doc.filename.Replace(" ","")" href="~/Upload/@doc.filename" download style="width:2rem;height:2rem;border:1px solid #0dcaf0;border-radius:5px;display:flex;justify-content:center;align-items:center;">
                                        <i id='themeIcon' class="bi bi-cloud-upload text-info"></i>
                                    </a>

                                </div>

                            </div>

                        </div>
                    </li>
                }
            </ul>

        </div>

       

        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11  p-3 " style="box-shadow: rgb(0 0 0 / 15%) 0px 10px 10px 0px;background-color:var(--pi-form-back-color);">
<form method="post" id="ConcludeCareForm" asp-action="PostConcludeCare" asp-controller="ProviderDashboard" asp-route-id="@Model.RequestId">

        <h6>Provider Notes</h6>
        <div class="col-10">
            <div class="form-floating mb-3">
                <textarea asp-for="ProviderNotes"  class="form-control" placeholder="Leave a comment here"
                          id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Provider Notes</label>

            </div>
        </div>
</form>
        </div>


        <div class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-11  p-3 d-flex justify-content-end" style="border-radius: 0px 0px 10px 10px;background-color:var(--pi-form-back-color);box-shadow: rgb(0 0 0 / 15%) 0px 10px 10px 0px;">

            <button type="submit" class="btn btn-info  text-white darkInfo-btn " onclick="$('#ConcludeCareForm').submit()">Conclude Care</button>


         </div>

    </div>


  

</div>


<script>

    $(document).ready(function () {

        handleNavChange('provider-dash-tab')
     

        toastr.remove();
        if ('@TempData["ShowPositiveNotification"]' != '') {

            toastr.success('@TempData["ShowPositiveNotification"]');
        }
        else if ('@TempData["ShowNegativeNotification"]' != '') {
            toastr.error('@TempData["ShowNegativeNotification"]')
        }
    })


    const UploadProviderFiles = () =>{

        $("#PeoviderDocForm").submit()
    }



</script>