@model HalloDoc_DAL.ProviderViewModels.Physicianshifts;
@using HalloDoc_DAL.ProviderViewModels;


@{

    @if(ViewData["RoleName"] == "Phy")
    {
        <h1>Chal Hatttt</h1>
    }
    string[] statusColor = { "#edacea", "#67eb98" };
    <div class="row mt-3 p-3">

    <div class="col-3">

        <button type="button" style="border-radius:50px;" class="btn btn-info   text-white darkInfo-btn "
                onclick="GetNextDayWiseShiftTableView(@Model.lastDate.AddDays(-1).Day,@Model.lastDate.AddDays(-1).Month,@Model.lastDate.AddDays(-1).Year,'@Model.lastDate.AddDays(-1).ToString("dddd,MMM d,yyyy")')"><i class="bi bi-chevron-left"></i></button>
        <i class="bi bi-calendar3 mx-1" style="color:var(--pi-label-color);"></i>
        <button type="button" style="border-radius:50px;" class="btn btn-info  text-white darkInfo-btn "
                onclick="GetNextDayWiseShiftTableView(@Model.lastDate.AddDays(1).Day,@Model.lastDate.AddDays(1).Month,@Model.lastDate.AddDays(1).Year,'@Model.lastDate.AddDays(1).ToString("dddd,MMM d,yyyy")')">
            <i class="bi bi-chevron-right"></i>
        </button>





    </div>

    <div class="col-9 d-flex justify-content-end" style="column-gap:5px;">
            <button type="button" id="DayBtn" class="btn   btn-outline-info   text-info lightInfo-btn" onclick="GetDayWiseShiftTableView('DayBtn')">Day</button>
        <button type="button" id="WeekBtn" class="btn btn-outline-info   text-info lightInfo-btn " onclick="GetWeekWiseShiftTableView('WeekBtn')">Week</button>
            <button type="button" id="MonthBtn" class="btn btn-outline-info   text-info lightInfo-btn " onclick="GetMonthWiseShiftTableView('MonthBtn')">Month</button>
    </div>

</div>


<div class="row mt-3 p-3 justify-content-center">

    <div class="col-12">


        <table class="table table-bordered table-responsive" >
            <thead>
                <tr style="background-color:#444444;color:white;">
                    <th style="width:100%">STAFF</th>
                    <th>12A</th>
                    @for (int i = 1; i <= 11; i++)
                    {
                        <th>@(i)A</th>
                    }
                    <th>12P</th>
                    @for (int i = 1; i <= 11; i++)
                    {
                        <th>@(i)P</th>
                    }
                </tr>
                <tr style="color:var(--pi-label-color);">
                    <th>Coverage</th>
                    @for (int i = 0; i < 24; i++)
                    {
                        <th style="background-color:#edacea;"></th>
                    }
                </tr>

            </thead>
            <tbody style="color:var(--pi-label-color);">
                    @foreach (DayWisePhysicianShifts dayWiseShift in Model.dayWiseShifts)
                {
                    <tr>
                        <th>@dayWiseShift.PhysicianName</th>
                            @{
                                int shiftCount = dayWiseShift.DayWiseShiftInformation.Count;
                                int i = 0;
                            }
                        

                                @foreach(ShiftInformation shiftInformation in dayWiseShift.DayWiseShiftInformation)
                                {
                                    if (i == 24)
                                        break;

                                    int start = shiftInformation.startTime.Hour;
                                    int end = shiftInformation.endTime.Hour;

                                    while(i < start)
                                    {
                                        <th></th>
                                        i++;
                                    };
                                    while (shiftInformation.status != -1 && i >= shiftInformation.startTime.Hour && i <= shiftInformation.endTime.Hour)
                                   {
                                        <th style="background-color:@statusColor[shiftInformation.status];"></th>
                                        i++;
                                    };

                                }
                                @while(i != 24)
                                {
                                <th></th>
                                i++;
                                }

                        
                    </tr>

                }

            </tbody>
        </table>



         @*   <table class="table table-bordered table-responsive">
                <thead>
                    <tr style="border-top:none;">
                        <th class="p-0" style="height:3rem;"></th>
                        <th class="text-info" style="width:80%">@Model.lastDate.DayOfWeek</th>
                       
                    </tr>
                

                </thead>
                <tbody>
                   
                  <tr>
                    <th class="p-0" style="height:3rem;"></th>
                     <th></th>
                  </tr>

                    @for(int i = 1; i <=11; i++)
                    {
                        <tr>
                            <th class="p-0"><div class="MobileDayCells">@i:00 AM</div></th>
                            <th></th>
                        </tr>
                    }

                    <tr>
                        <th class="p-0"><div class="MobileDayCells">12:00 PM</div></th>
                    <th></th>
                    </tr>

                    @for(int i = 1; i <= 11; i++)
                    {
                        <tr>
                            <th class="p-0"><div class="MobileDayCells">@i:00 PM</div></th>
                            <th></th>
                        </tr>
                    }
                </tbody>
        </table>*@


    </div>

</div>
}



<script>
         
    
</script>