@model HalloDoc_DAL.ProviderViewModels.Physicianshifts;
@using HalloDoc_DAL.ProviderViewModels;


@{
    string[] statusColor = { "#edacea", "#67eb98" };
    <div class="row mt-3 p-3">

    <div class="col-3">

        <button type="button" style="border-radius:50px;" class="btn btn-info   text-white darkInfo-btn "
                onclick="GetNextDayWiseShiftTableView(@Model.lastDate.AddDays(-1).Day,@Model.lastDate.AddDays(-1).Month,@Model.lastDate.AddDays(-1).Year,'@Model.lastDate.AddDays(-1).ToString("dddd,MMM d,yyyy")')"><i class="bi bi-chevron-left"></i></button>
        <i class="bi bi-calendar3 mx-1" style="color:var(--pi-label-color);"></i>
        <button type="button" style="border-radius:50px;" class="btn btn-info  text-white darkInfo-btn "
                onclick="GetNextDayWiseShiftTableView(@Model.lastDate.AddDays(1).Day,@Model.lastDate.AddDays(1).Month,@Model.lastDate.AddDays(1).Year,'@Model.lastDate.AddDays(1).ToString("dddd,MMM d,yyyy")')">
            <i class="bi bi-chevron-right"></i>
        </button>





    </div>

    <div class="col-9 d-flex justify-content-end" style="column-gap:5px;">
        <button type="button" class="btn btn-info   text-white darkInfo-btn ">Day</button>
        <button type="button" class="btn btn-outline-info   text-info lightInfo-btn ">Week</button>
        <button type="button" class="btn btn-outline-info   text-info lightInfo-btn ">Month</button>
    </div>

</div>


<div class="row mt-3 p-3 justify-content-center">

    <div class="col-12">


        <table class="table table-bordered table-responsive" >
            <thead>
                <tr style="background-color:#444444;color:white;">
                    <th style="width:100%">STAFF</th>
                    <th>12A</th>
                    @for (int i = 1; i <= 11; i++)
                    {
                        <th>@(i)A</th>
                    }
                    <th>12P</th>
                    @for (int i = 1; i <= 11; i++)
                    {
                        <th>@(i)P</th>
                    }
                </tr>
                <tr style="color:var(--pi-label-color);">
                    <th>Coverage</th>
                    @for (int i = 0; i < 24; i++)
                    {
                        <th style="background-color:#edacea;"></th>
                    }
                </tr>

            </thead>
            <tbody style="color:var(--pi-label-color);">
                @foreach (DayWiseShift dayWiseShift in Model.dayWiseShifts)
                {
                    <tr>
                        <th>@dayWiseShift.PhysicianName</th>
                        @{
                            int start = dayWiseShift.startTime;
                            int end = dayWiseShift.endTime;
                        }
                        @for (int i = 0; i < 24; i++)
                        {
                            if ( start != -1 &&  i >= start && i <= end )
                            {
                                <th style="background-color:@statusColor[dayWiseShift.status];"></th>
                            }
                            else
                            {

                                <th></th>
                            }
                        }
                    </tr>

                }

            </tbody>
        </table>
    </div>

</div>
}



<script>
         

</script>