@model HalloDoc_DAL.ProviderViewModels.PatientHistoryTable;
@using HalloDoc_DAL.AdminViewModels;



@{
    

    int k = 0;
    <table class="table ReqtableContainer">
        <thead>
            <tr style="background-color:#f1f1f1;">
                <th class="reqtableHeader text-center" scope="col">First Name</th>
                <th class="reqtableHeader text-center" scope="col">Lasgt Name</th>
                <th class="reqtableHeader text-center" scope="col">Email</th>
                <th class="reqtableHeader text-center" scope="col">Phone</th>
                <th class="reqtableHeader text-center" scope="col">Address</th>
                <th class="reqtableHeader text-center" scope="col">Actions</th>
               
               
            </tr>
        </thead>
        <tbody style="color:var(--pi-label-color);background: var(--pi-form-back-color);">


            @for (int i = 0; i < Model.patientHistories.Count; i++)
            {




                <tr class="align-middle">
                    <td class="align-middle text-center">@Model.patientHistories[i].FirstName</td>
                    <td class="align-middle text-center">@Model.patientHistories[i].LastName</td>
                    <td class="align-middle text-center">@Model.patientHistories[i].Email</td>
                    <td class="align-middle text-center">@Model.patientHistories[i].Phone</td>
                    <td class="align-middle text-center">@Model.patientHistories[i].Email</td>
                  
                    <td class="align-middle text-center">
                        <a asp-action="GetPatientExploreView" asp-controller="Provider" asp-route-id="@Model.patientHistories[i].UserId" class="btn btn-outline-info text-info lightInfo-btn">
                            Explore
                        </a>
                    </td>



                </tr>
            }
        </tbody>

    </table>

    
        <div  class="ProviderAccordian accordion" id="accordionExample mt-3">
            @for (int i = 0; i < Model.patientHistories.Count; i++)
            {

                    <div class="accordion-item" style="background:var(--pi-form-back-color);">
                        <h2 class="accordion-header" id="heading@(k)">
                            <button class="accordion-button container-fluid" type="button" style="background:var(--accordian-btn-color);color:var(--pi-label-color);" data-bs-toggle="collapse" data-bs-target="#collapse@(k)" aria-expanded="true" aria-controls="collapse@(k)">
                                <div class="row" style="row-gap:1rem;">

                                    <div class="col-12 d-flex" style="align-items:center;">
                                        <h4>@Model.patientHistories[k].FirstName @Model.patientHistories[k].LastName</h4>
                                    </div>
                                    <div class="col-12">
                                         @Model.patientHistories[k].Phone
                                    </div>

                                </div>

                            </button>
                        </h2>
                        <div id="collapse@(k)" class="accordion-collapse collapse" aria-labelledby="heading@(k)" data-bs-parent="#accordionExample">
                            <div class="accordion-body container-fluid">


                                <div class="row" style="row-gap:1rem;color:var(--pi-label-color);">

                                    <div class="col-12">

                                        <span class="AccordianIcons mx-1"><i class="bi bi-person mx-1"></i></span>  Email: <span>@Model.patientHistories[k].Email</span>

                                    </div>
                                    <div class="col-12">
                                        <span class="AccordianIcons mx-1"><i class="bi bi-check-lg mx-1"></i></span>  Phone: <span>@Model.patientHistories[k].Phone</span>
                                    </div>
                                   

                                </div>
                                <div class="row">
                                    <div class="col-12 d-flex justify-content-end" style="column-gap:1rem;">


                                        <a asp-action="GetPatientExploreView" asp-controller="Provider" asp-route-id="@Model.patientHistories[k].UserId" class="btn btn-outline-info text-info lightInfo-btn">
                                            Explore
                                        </a>


                                    </div>
                                </div>







                            </div>
                        </div>
                    </div>
            k++;
            }
         </div>
  

    <div class="row p-3">
        <nav aria-label="Page navigation example mt-3">
            <ul class="pagination justify-content-end PageNumbers" style="column-gap:1rem;">
                <li class="page-item" onclick="GetPatientHistoryTableView(@Model.currentPage-1,true,@Model.TotalPages)" style="cursor:pointer;background-color:var(--pi-form-back-color);color:var(--pi-label-color);"><i class="bi bi-chevron-left"></i></li>
                <li class="page-item text-white" style="padding-left: 1rem;padding-right: 1rem;background-color:#0dcaf0;cursor:pointer;">@Model.currentPage</li>
                <li class="page-item" onclick="GetPatientHistoryTableView(@Model.currentPage+1,true,@Model.TotalPages)" style="cursor:pointer;background-color:var(--pi-form-back-color);color:var(--pi-label-color);"><i class="bi bi-chevron-right"></i></li>
            </ul>
        </nav>
    </div>
}


