@model HalloDoc_DAL.AdminViewModels.ProviderList;
@using HalloDoc_DAL.AdminViewModels;


@{
    
    string[] status = { "Active", "Pending", "deactive" };
    <form method="post" id="ProviderForm" asp-action="SaveProviderChanges" asp-controller="Admindashboard">


  

   
        <table class="table ReqtableContainer">
            <thead>
                <tr style="background-color:#f1f1f1;">
                    <th class="reqtableHeader" scope="col">Stop Notification</th>
                    <th class="reqtableHeader" scope="col">Provider Name</th>
                    <th class="reqtableHeader" scope="col">Role</th>
                    <th class="reqtableHeader" scope="col">ON Call Status</th>
                    <th class="reqtableHeader" scope="col">Status</th>
                    <th class="reqtableHeader" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
           
                @for (int i = 0;i<Model.providers.Count;i++)
                {




                    <tr class="align-middle">
                    <td style="display:none"><input asp-for="@Model.providers[i].ProviderId" hidden  style="display:none;"/></td>
                    <th class="align-middle" scope="row"> <input class="form-check-input" type="checkbox" asp-for="@Model.providers[i].IsNoificationOn" onchange="handleNotificationChange()"></th>
                        <td class="align-middle">@Model.providers[i].Name</td>
                        <td class="align-middle">@Model.providers[i].Role</td>
                        <td class="align-middle">Un Available</td>
                        <td class="align-middle">
                            @status[Model.providers[i].status-1]
                        </td>
                        <td class="align-middle">


                            <button class="btn btn-outline-info text-info lightInfo-btn" onclick="()">
                                Contact
                            </button>
                            <a asp-action="ProviderProfile" asp-controller="Provider" asp-route-id="@Model.providers[i].ProviderId" class="btn btn-outline-info text-info lightInfo-btn" onclick="()">
                                Edit
                            </a>


                        </td>

                    </tr>
                }
            </tbody>
                
        </table>

       

    </form>

}


<script>

    //$("document").ready(function () {

    //    DisPlayPagination();

    //})

    
    const handleNotificationChange = () =>{

       if( $("#ProviderChangeSaveBtn").css("display") == "none"){
            $("#ProviderChangeSaveBtn").css("display","block");
       }
    }


</script>