

@using HalloDoc_DAL.AdminViewModels;








@{

    string[] colors = { "#74d36e", "#ffb545", "#75ccff", "#e9aee7" };
    string[] requestorType = { "Patient", "Family/Friend", "Concierge", "Business"};

    if(Model.Requests.Count != 0)
    {
        int j = 1;
           <table class="table ReqtableContainer">
        <thead class="table-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>

            @foreach (DashboardRequests dr in Model.Requests)
            {


                 

                    <tr class="align-middle" style="background-color:@colors[dr.Requesttype-1] !important;color:white">
                    <th class="align-middle" scope="row">@dr.Username</th>
                        <td class="align-middle">@(dr.Birthdate != null ? dr.Birthdate.ToString("MMM dd,yyyy") : "Not Available")</td>
                        <td class="align-middle">@dr.Requestor</td>
                        <td class="align-middle">@dr.Requestdate</td>
                        <td class="align-middle">
                        
                            <div class="phone-col"><i class="bi bi-telephone"></i><div>@dr.Phone</div></div><div>(Patient)</div>
                        
                            @{
                                if(dr.RequestorPhone != null)
                                {
                                    <div class="phone-col"><i class="bi bi-telephone"></i><div>@dr.RequestorPhone</div></div>

                                    <div>(@requestorType[dr.Requesttype-1])</div>
 
                                }
                            }
                        
                        </td>
                        <td class="align-middle">@dr.Address </td>
                        <td class ="align-middle">@(dr.Notes != null ? dr.Notes : "Not Available")</td>
                        <td class="align-middle">
                            <button type="button" class="btn bg-transparent action-btn "><i class="bi bi-person mx-1"></i> Provider</button>
                        </td>

                        <td class="align-middle">
                            <div class="dropdown">
                                <button class="btn bg-transparent action-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person mx-1"></i> Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <button class="dropdown-item" onclick="GetAssginCasePopup(@dr.Requestid)">
                                            <i class="bi bi-card-checklist mx-1">
                                       </i> Assign Case
                                       </button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item"

                                                onclick="GetCancleCase(@dr.Requestid)"
                                        >
                                            <i class="bi bi-x-circle mx-1"></i>Cancel Case
                                        </button>
                                    </li>
                                    <li><a class=" btn dropdown-item" asp-action="ViewRequest" asp-route-requestid="@dr.Requestid" asp-controller="Admindashboard"><i class="bi bi-eye mx-1"></i>View Case</a></li>
                                    <li><button class="dropdown-item" onclick="GetViewnotes(@dr.Requestid)" ><i class="bi bi-journal-text mx-1"></i>View Notes</button></li>
                                    <li><a class="dropdown-item" asp-action="ViewUploads" asp-route-id="@dr.Requestid" asp-controller="Admindashboard"><i class="bi bi-journal-text mx-1"></i>View Uploads</a></li>
                                    <li><button class="dropdown-item"  onclick="GetBlockCasePopup(@dr.Requestid)"  href="#"><img src="~/images//ban.svg" class="mx-1"/>Block Patient</button></li>
                                </ul>
                            </div>
                        </td>
                </tr>
                j++;
            }

        </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end PageNumbers">
            </ul>
        </nav>


        int i = 1;
        <div class="accordion" id="accordionExample">

        @foreach (DashboardRequests dr in Model.Requests)
        {

            <div class="accordion-item">
                <h2 class="accordion-header" id="heading@(i)">
                        <button class="accordion-button container-fluid" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(i)" aria-expanded="true" aria-controls="collapse@(i)">
                           <div class="row">

                             <div class="col-8">
                                    <div>@dr.Username</div>

                                    <div>@dr.Address</div>
                             </div>
                              <div class="col-4">
                                    <h5 class="ReqType-Heading"> <i class="bi bi-circle-fill" style="color:@colors[dr.Requesttype-1]"></i> @requestorType[dr.Requesttype-1]</h5>
                               </div>

                           </div>
                            
                    </button>
                </h2>
                 <div id="collapse@(i)" class="accordion-collapse collapse show" aria-labelledby="heading@(i)" data-bs-parent="#accordionExample">
                    <div class="accordion-body container-fluid">
                        
                         <div class="row">
                       <div class="col-12 d-flex justify-content-end">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn" style="background-color:#f7e7ff;color:#990df0;border:1px solid #990df0;border-radius:10px;width:10rem;">
                                             View Case
                                        </div>
                                    </a>
                       </div>
                    </div>
                    
                        <div class="row">

                         <div class="col-12">
                                   <div class="d-flex align-content-center mt-2" >
                                        <span class="AccordianIcons mx-1"><i class="bi bi-calendar mx-1"></i></span>  <h6 class="mt-0">Date of Birth: @(dr.Birthdate != null ? dr.Birthdate : "Not Available") </h6>
                                   </div>
                                   <div class="d-flex align-content-center mt-2">
                                        <span class="AccordianIcons mx-1"><i class="bi bi-envelope mx-1"></i></span>  <h6 class="mt-0">Email: @(dr.Notes != null ? dr.Notes : "Not Available") </h6>
                                   </div>
                                   <div class="d-flex align-content-center mt-2">
                                        <span class="AccordianIcons mx-1"><i class="bi bi-telephone mx-1"></i></span>  <h6 class="mt-0">Patient: @(dr.Phone != null ? dr.Phone : "Not Available")</h6>
                                   </div>
                                   <div class="d-flex align-content-center mt-2">
                                       <span class="AccordianIcons mx-1"><i class="bi bi-journal-arrow-up mx-1"></i></span>  <h6 class="mt-0">Tranfer Notes: </h6>
                                   </div>
                                   <div class="d-flex align-content-center mt-2">
                                       <span class="AccordianIcons mx-1"><i class="bi bi-calendar mx-1"></i></span>  <h6 class="mt-0">Date of Service: </h6>
                                   </div>
                                   <div class="d-flex align-content-center mt-2">
                                        <span class="AccordianIcons mx-1"><i class="bi bi-file-medical mx-1"></i></span>  <h6 class="mt-0">Physician:@(dr.PhysicianName != null ? dr.PhysicianName : "Not Available") </h6>
                                   </div>
                                    <div class="d-flex align-content-center mt-2">
                                        <span class="AccordianIcons mx-1"><i class="bi bi-person mx-1"></i></span>  <h6 class="mt-0">Requestor:@(dr.Requestor != null ? dr.Requestor : "Not Available") </h6>
                                   </div>
                         
                        
                         
                         </div>
                        
                        </div>    

                        <div class="row mt-3 gy-3">

                          <div class="col-6">
                                    <a href="#" class="btn p-0">
                                       <div class="linkTypeBtn">
                                           View Notes
                                       </div>
                                    </a>
                          </div>
                          <div class="col-6">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn" style="background-color:#276a61;">
                                            Doctors Notes
                                        </div>
                                    </a>
                           </div>
                                <div class="col-6">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn">
                                            View Uploads
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn">
                                           Encounter
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn" style="background-color:#ffa500;">
                                            Orders
                                        </div>
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn">
                                            Email
                                        </div>
                                    </a>
                                </div>
                        </div>

                        <div class="row mt-3">

                              <div class="col-12 d-flex justify-content-end" style="align-items:center;">
                                   <span class="mx-1">Chat With:</span>
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn mx-1" style="background-color:white;color:#0dcaf0;border:1px solid #0dcaf0;border-radius:10px;width:7rem;">
                                            <i class="bi bi-person fs-4"></i>  Patient
                                        </div>
                                    </a>
                                    <a href="#" class="btn p-0">
                                        <div class="linkTypeBtn" style="background-color:white;color:#0dcaf0;border:1px solid #0dcaf0;border-radius:10px;width:7rem;">
                                            <i class="bi bi-file-medical fs-4"></i>  Provider
                                        </div>
                                    </a>
                              </div>
                           
                        </div>

                    </div>
                </div>
            </div>

            i++;

        }

        </div>
     
    }
    else
    {

        <h4 class="alert alert-info fs-3  d-flex" role="alert" style="width:40%;margin-top:7rem;justify-content:center;">
            No Requests Available For This!
        </h4>
    }
}

<script>

    var allrows;
    let start_idx;
    let end_idx;
    $("document").ready(function () {
        $("tr").addClass("Same");

        allrows = $(".Same");

        $("tbody").empty();

        start_idx = 0;
        end_idx = allrows.length > 10 ? 9 : allrows.length;
        console.log($(".Currentpage").val())

        diPlayIntialRows(allrows, start_idx, end_idx);


        disPlayPageNumbers(10);

    })

    const disPlayPageNumbers = (RowsPerPage) => {

        let pages = allrows.length / RowsPerPage;

        if (allrows.length % RowsPerPage != 0) {
            pages += 1;
        }

        $(".PageNumbers").append("<li class='page-item'> <a class='page-link' onclick='GetPreviousRows()'>Previous</a></li>")

        for (let i = 1; i <= pages; i++) {

            $(".PageNumbers").append("<li value='" + i + "' class='page-item'><a class='page-link' onclick=\"GetNumberedRows('" + i + "')\">" + i + "</a></li>");

        }

        $(".PageNumbers").append("<li class='page-item'> <a class='page-link' onclick='GetNextRows()'>Next</a></li>")


    }

    const diPlayIntialRows = (allrows, start_idx, end_idx) => {


        for (let i = start_idx; i <= end_idx; i++) {

            $("tbody").append(allrows[i]);
        }

    }


    const GetNextRows = () => {

        $("tbody").empty();

        start_idx = end_idx + 1;
        end_idx = allrows.length - start_idx + 1 > 10 ? start_idx + 9 : allrows.length;


        for (let i = start_idx; i <= end_idx; i++) {

            $("tbody").append(allrows[i]);
        }


    }


    const GetPreviousRows = () => {

        $("tbody").empty();


        end_idx = start_idx - 1;
        start_idx = start_idx - 10 < 0 ? 0 : start_idx - 10;



        for (let i = start_idx; i <= end_idx; i++) {

            $("tbody").append(allrows[i]);
        }

    }


    const GetNumberedRows = (numb) => {

        $("tbody").empty();


        let numbint = parseInt(numb);

        if (numbint == 1) {
            start_idx = 0

        } else {

            start_idx = (numbint - 1) * 10;
        }
        console.log(start_idx)
        end_idx = start_idx + 9 > allrows.length ? allrows.length : start_idx + 9;


        for (let i = start_idx; i <= end_idx; i++) {

            $("tbody").append(allrows[i]);
        }


    }


    const GetCancleCase  = (id) =>{
        
       
        

        console.log(id)
        $.ajax({
            method: "post",
            url: "/Admindashboard/GetCancleCaseView",
            data: { id: id },
            success: function (response) {


                $("#CancleCasePopup").html(response);

                $("#CancleCaseModal").addClass("show");
                $("#CancleCaseModal").css({"display":"block","backdrop-filter":"brightness(0.5)"});
                console.log(09890)

            },
            error: function (err) {
                console.log(err)
            }
        })

    }

    const GetAssginCasePopup = (id) =>{

       
        $.ajax({
            method: "post",
            url: "/Admindashboard/GetAssginCaseView",
            data: { requestId: id },
            success: function (response) {


                $("#CancleCasePopup").html(response);

                $("#AssignCasePopUp").modal("show");



            },
            error: function (err) {
                console.log(err)
            }
        })

    }

    const GetBlockCasePopup = (id) =>{


        $.ajax({
            method: "post",
            url: "/Admindashboard/GetBlockCaseView",
            data: { requestId: id },
            success: function (response) {


                $("#CancleCasePopup").html(response);

                $("#BlockCaseModal").modal("show");



            },
            error: function (err) {
                console.log(err)
            }
        })

    }

    const toggleActionsUrls = (bodyId,btnId) =>{

        
        var collapseButton = document.getElementById(`${btnId}`);
        var collapseExample = document.getElementById(`${bodyId}`);
        
       
        console.log(collapseButton.getAttribute("aria-expanded"))

            if (collapseButton.getAttribute("aria-expanded") == "true") {
                console.log(1)
                collapseExample.classList.remove("show");
                collapseButton.setAttribute("aria-expanded", "false");
            } else {
                console.log(2)
                collapseExample.classList.add("show");
                collapseButton.setAttribute("aria-expanded", "true");
            }
        



    }

    const GetViewCase = (id) =>{

        $.ajax({
            method: "post",
            url: "/Admindashboard/GetRequestClientInfoFromRequestId",
            data: { id: id },
            success: function (response) {


                $("#pills-home").html(response);


            },
            error: function (err) {
                console.log(err)
            }
        })

    }


const GetViewnotes = (id) =>{

        $.ajax({
            method: "post",
            url: "/Admindashboard/GetRequestNotes",
            data: { id: id },
            success: function (response) {


                $("#pills-home").html(response);


            },
            error: function (err) {
                console.log(err)
            }
        })
}

</script>