@model HalloDoc_DAL.ProviderViewModels.Physicianshifts;
@using HalloDoc_DAL.ProviderViewModels;


@{
    string[] statusColor = { "#edacea", "#67eb98" };
    string[] days = { "Sun", "Mon", "Tue", "Wed", "Thurs", "Fri", "Sat" };
    <div class="row mt-3 p-3">

        <div class="col-3">

            <button type="button" style="border-radius:50px;" class="btn btn-info   text-white darkInfo-btn "
                    onclick="GetNextWeekWiseShiftTableView(@Model.lastDate.AddDays(-14).Day,@Model.lastDate.AddDays(-14).Month,@Model.StartOfWeek.AddDays(-7).Year,'@Model.lastDate.AddDays(-14).ToString("MMM d") - @Model.lastDate.AddDays(-8).ToString("MMM d"), @(DateTime.Today.Year)')">
                <i class="bi bi-chevron-left"></i>
            </button>
            <i class="bi bi-calendar3 mx-1" style="color:var(--pi-label-color);"></i>
            <button type="button" style="border-radius:50px;" class="btn btn-info  text-white darkInfo-btn "
                    onclick="GetNextWeekWiseShiftTableView(@Model.lastDate.Day,@Model.lastDate.Month,@Model.lastDate.Year,'@Model.lastDate.ToString("MMM d") - @Model.lastDate.AddDays(6).ToString("MMM d"), @(DateTime.Today.Year)')">
                <i class="bi bi-chevron-right"></i>
            </button>





        </div>

        <div class="col-9 d-flex justify-content-end" style="column-gap:5px;">
            <button type="button" id="DayBtn" class="btn btn-outline-info   text-info lightInfo-btn " onclick="GetDayWiseShiftTableView('DayBtn')">Day</button>
            <button type="button" id="WeekBtn" class="btn btn-outline-info   text-info lightInfo-btn " onclick="GetWeekWiseShiftTableView('WeekBtn')">Week</button>
            <button type="button" id="MonthBtn" class="btn btn-outline-info   text-info lightInfo-btn " onclick="GetMonthWiseShiftTableView('MonthBtn')">Month</button>
        </div>

    </div>


    <div class="row mt-3 p-3 justify-content-center">

        <div class="col-12">


            <table class="table table-bordered table-responsive">
                <thead>
                    <tr style="background-color:#444444;color:white;">
                        <th style="width:30%">STAFF</th>
                        @{
                            DateTime startDay = Model.StartOfWeek;
                        }
                        @for (int i = 0; i < days.Length; i++)
                        {
                            <th>@days[i] @startDay.Day</th>
                          startDay =   startDay.AddDays(1);
                        }
                    <tr style="color:var(--pi-label-color);">
                        <th>Coverage</th>
                            @for (int i = 0; i < days.Length; i++)
                            {
                            <th style="background-color:#edacea;">0/24</th>
                            }
                    </tr>

                </thead>
                <tbody style="color:var(--pi-label-color);">
                    @foreach (WeekWisePhysicianShifts WeekWiseShift in Model.weekWiseShifts)
                    {
                        <tr>
                            <th>@WeekWiseShift.PhysicianName</th>
                            @for (int i = 0; i < 7; i++)
                            {
                                if (WeekWiseShift.WeekWiseShiftInformation[i].dayOfWeek == i)
                                {
                                    <th style="background-color:@statusColor[WeekWiseShift.WeekWiseShiftInformation[i].status];cursor:pointer;" onclick="GetViewShiftModel(@WeekWiseShift.WeekWiseShiftInformation[i].ShiftDetailId)">
                                       
                                    </th>
                                }
                                else
                                {

                                    <th></th>
                                }
                            }
                        </tr>

                    }

                </tbody>
            </table>
        </div>

    </div>
}



<script>

 



</script>